.onlyVegetarianArea {
  //text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  input[type='checkbox'] {
    width: 150px;
    height: 45px;
    font-size: 40px;
    color: $dark;
    padding: 20px 20px;
  }
  span {
    color: $dark;
    margin-left: -100px;
    margin-bottom: 0px;
    font-size:30px;
  }

}

