.recipe{
  width: 500px;
  height: 510px;
  margin: 30px auto;
   box-shadow: 0 0 1.5rem rgba(0,0,0,.2);
  .img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //width: 500px;
    //height: 400px;
    &:hover{
      opacity: 0.6;
    }
  }
  .deleteBtn{
    background-color: #fff;
    list-style: none;
    border: 1px solid $primary;
    border-radius: 3px;
    color: $primary;
    padding: 10px 30px;
    margin: 5px 3px;
    display: inline;
    &:hover{
      color:#fff;
      background-color: $primary;
      border: 1px solid #fff;

    }
  }
  footer{
    padding: 10px;
    text-align: center;
    p{
      margin-bottom: 5px;
      font-size:30px;
      //font-weight: bold;
    }

    .icons {
      display: flex;
      color: gray;
      font-size: 30px;
      margin-bottom: 20px;
      margin-left:50px;
    }
    //.hot{
    //  i{
    //    margin-left:10px;
    //  }
    //}
  }
  span{
    i{
      margin-right: 10px;
    }
  }
  .leaf{
    margin-right:30px;
  }
  .time{
    color: $dark;
    margin-right:30px;
  }
  .hot{
    margin-right:30px;
  }
  .heart{
    margin-right:30px;
  }

}

